name: bskycli

on:
  push:
    branches: [ "main", release-*, develop ]
  pull_request:
    branches: [ "main", release-*, develop ]
  workflow_dispatch:

jobs:
    Linux:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
          with:
            fetch-depth: 0

        - name: Setup .NET Core
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: 10.x

        - name: Install GitVersion
          uses: gittools/actions/gitversion/setup@v4.2.0
          with:
            versionSpec: '6.5.1'

        - name: Run make linux-x64
          run: make bskycli_linux

        - name: Determine Version
          id:   gitversion
          uses: gittools/actions/gitversion/execute@v4.2.0

        - name: Upload package x64
          uses: actions/upload-artifact@v4
          with:
            name: bskycli-linux-x64-${{ steps.gitversion.outputs.FullSemVer }}
            path: artifacts/linux-x64

    MacOS:
      runs-on: macos-latest
      steps:
        - uses: actions/checkout@v3
          with:
            fetch-depth: 0

        - name: Setup .NET Core
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: 10.x
        
        - name: Install GitVersion
          uses: gittools/actions/gitversion/setup@v4.2.0
          with:
            versionSpec: '6.5.1'

        - name: Run make osx
          run: make bskycli_macos

        - name: Determine Version
          id:   gitversion
          uses: gittools/actions/gitversion/execute@v4.2.0

        - name: Upload package universal
          uses: actions/upload-artifact@v4
          with:
            name: bskycli-osx-universal-${{ steps.gitversion.outputs.FullSemVer }}
            path: artifacts/osx-universal

    Windows:
        runs-on: windows-latest
        steps:
          - uses: actions/checkout@v3
            with:
              fetch-depth: 0
  
          - name: Setup .NET Core
            uses: actions/setup-dotnet@v4
            with:
              dotnet-version: 10.x

          - name: Install GitVersion
            uses: gittools/actions/gitversion/setup@v4.2.0
            with:
              versionSpec: '6.5.1'

          - name: Run powershell script
            run: |
              .\bskycli_publish.ps1

          - name: Determine Version
            id:   gitversion
            uses: gittools/actions/gitversion/execute@v4.2.0

          - name: Upload package x64
            uses: actions/upload-artifact@v4
            with:
              name: bskycli-win-x64-${{ steps.gitversion.outputs.FullSemVer }}
              path: artifacts/win-x64